@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

body {
	margin: 0;
}

.StoryCanvas {
	position: fixed;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.Story {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}


.Story__Inner {
	background: url( "./bg.jpg" ) 0 0 / 256px 256px;
}

.Story__Contents {
	max-width: 800px;
	padding: 32px;
	font-size: 18px;
	font-weight: 500;
	line-height: 2;
	margin: 0 auto;
	font-family: "Noto Serif JP", serif;

	h2 {
		text-align: center;
	}

	img {
		float: left;
		margin: 0 16px 16px 0;
		width: 128px;
	}
}

.Story__Pillars {
	display: flex;
	justify-content: space-between;
	height: 128px;
}

.Story__Pillar {
	width: 128px;
	height: 128px;
}

.Story__Dragon {
	max-width: 800px;
	aspect-ratio: 1;
	margin: -100px auto;
}
